// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-post-housing {
  width: 325px;
  background: honeydew;
}
.index-thumbnail {
  max-width: 300px;
  margin: 0 auto 0 auto;
  padding-top: 13px;
  display: block;
}
